
/* *****************
    Modules
***************** */

.menu
{

}

.menu ul 
{  
    list-style: none;
    box-sizing: border-box;
    display: flex;
    padding-left: 0; 
    /* justify-content: center; */
    justify-content: flex-end;
    margin-bottom: 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(96, 96, 96, 0.1);
}

.menu li 
{ 
    margin-left: 30px;
    text-decoration: none;
    display: inline;
    font-family: 'Montserrat', sans-serif;
}

.menu a 
{ 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;  
    vertical-align: middle;
    color: gray;
}

/* *****************
    States
***************** */

.menu a.is-current 
{
    color: orange;
    font-weight: 900;  
}

.menu a.is-current:hover
{
	color: lightgray;
}

.menu a:hover 
{  
    color: slateblue;
}

.menu figure {
    float: left;
    display: inline;
    margin: 0px;
}