/* *****************
    Base Styles
***************** */
fieldset {
	margin: 50px;
	padding: 30px;
	border: 1px solid #ffffff;
	border-radius: 15px;
	margin-bottom: 20px;
}

table {
	margin-top: 20px;
}

/* *****************
    Layout Styles
***************** */
.container_portal {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 85px;
}


.popup_container {
	margin: 3%;
}

/* *****************
    Modules
***************** */
#info {
  min-width: 400px;
  min-height: 100px;
  border-radius: 5px;
}

#quote {
	min-width: 200px;
	min-height: 50px;
  	border-radius: 5px;

}

/* portal */
.option {
	background-color: indigo;
	border-radius: 3px;
	align-content: center;
	color: white;
	display: block;
	grid-column: 2/3;
	text-align: center;
	padding: 15px;
	margin: 20px;
	margin-top: 20%;

}

.option:hover {
	background-color: #82538c;
}

.popup_container a {
	margin: 20px 40px 0px 0px;
}

.popup_container a:hover {
	color: lightblue;
}


.meet {
	color: #ffcc80;
}

.shadow-text {
	text-shadow: 3px 3px 5px black;
}

fieldset {
	margin: 50px;
	padding: 30px;
	border: 1px solid #ffffff;
	border-radius: 15px;
	margin-bottom: 20px;
}

