@font-face {
    font-family: ArchitectsDaughter;
    src: url(../fonts/ArchitectsDaughter/ArchitectsDaughter-Regular.ttf);
}

@font-face {
    font-family: RockSalt;
    src: url(../fonts/RockSalt/RockSalt-Regular.ttf);
  }
  
body {
    background-color: #044b39;
    color: #2edda3;
    font-family: 'ArchitectsDaughter';
    font-size: 18px;
}

h1{
    font-family: 'RockSalt';
    font-size: 30px;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1000px;
}

.fancy{
    text-align: center;
    transform: rotate(-25deg);
    padding-top: 20px;
    padding-right: 50px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

nav{
    float: right;
}

footer{
    font-family: 'RockSalt';
    margin-top: 20px;
    font-size: large;
}

p{
    margin: 12px auto;
    max-width: 1000px;
}


a {
    color: rgb(30, 194, 172);
}

a:hover {
    color: rgba(30, 194, 172, 0.322);
}

/* Mobile Design */
    
.resizable {
    width: 100%;
    max-width: 150px;
}

.resizable2 {
    width: 100%;
    max-width: 300px;
}

@media (max-width: 650px) {
    .grid-container {
        display: block;
    }
    /* ...this will un-do CSS Grid on the container */
}

@media (max-width: 450px) {
    .container {
        min-width: 450px;
    }
    /* ...this will un-do CSS Grid on the container */
}

@media (max-width: 375px) {
    .container {
        min-width: 375px;
    }
   table {
       width: 74%;
       font-size: 7.5px;
       table-layout: fixed;
        }
    /* ...this will un-do CSS Grid on the container */
}

@media (max-width: 950px) {
    figure {
        float: none;
        margin-left: initial;
    }
}

@media (max-width: 1000px) {
    table {
        width: 100%;
        font-size: 13px;

    }
}
