.container{
	width: 90%;
	max-width: 960px;
	margin: 25px auto;
	font-family: 'Rajdhani', serif;
	color: #6e6e6e;
}

h1{
	font-size: 50px;
}

a{
	text-decoration: none;
	color: #27496d;
}

a:hover{
	color: #888888;
}

h2{
	font-family: 'Bebas Neue', serif;
	color: #27496d;
}

h3{
	font-family: 'Pathway Gothic One', serif;	
}

.extra-cont{
	display: grid;
  	grid-template-columns: 1fr 1fr;
  	grid-template-rows: 1fr;
  	grid-gap: 25px;
  	justify-content: center;
}

.roc{
	grid-row: 1;
	grid-column: 1;
}

.summer{
	grid-row: 1;
	grid-column: 2;
}

.Experiences{
	border-bottom: 1px solid #27496d;
	width: 150px
}


.education-cont{
	display: grid;
  	grid-template-columns: 1fr 1fr;
  	grid-template-rows: 1fr;
  	grid-gap: 25px;
  	justify-content: center;
}

.interests{
	grid-row: 1;
	grid-column: 1;
}

.awards{
	grid-row: 1;
	grid-column: 2;
}

.About{
	margin-bottom: 60px;
}

.box{
  position: relative;
  width: 75%;
}

.image{
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #888888;
}

.box:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.grid{
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr;
  	grid-template-rows: 1fr;
  	grid-gap: 25px;
  	justify-content: center;
}

.one, .two, .three, .four{
	grid-row: 1;
}

.five, .six, .seven, .eight{
	grid-row: 2;
}

.nine, .ten, .eleven, .twelve{
	grid-row: 3;
}

.one, .five, .nine{
	grid-column: 1;
}

.two, .six, .ten{
	grid-column: 2;
}


.three, .seven, .elevem{
	grid-column: 3;
}

.four, .eight, .twelve{
	grid-column: 4;
}




