form 
{ 
	margin-top: 40px; 
}

textarea 
{
	width: 75%;
	height: 75px;
	font-family: 'Open Sans', sans-serif;
}

.info-field 
{
	height: 18px;
	width: 250px;
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'Assistant', sans-serif;
	font-size: 15px;
}

label
{
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'Assistant', sans-serif;
	font-size: 16px;
}

.submit-button
{
	width: 200px;
	height: 30px;
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'Assistant', sans-serif;
	font-size: 14px;
	text-align: center;
	margin-left: 400px;
}